<!-- A version of embedding description and login form as boxes. -->
<div class="wrap">
  <!-- Render description box and login form box only at the first time -->
  <% if @first %>
    <div class="box">
      <div class="boxInner top-description">
      <%= render partial: 'shared/top_description' %>
      </div>
    </div>

    <div class="box">
      <div class="boxInner wrapper-oauth">
        <br />
        <%= render partial: 'shared/top/wrapper_sign_in' %>
      </div>
    </div>
  <% end %>

  <!-- Render images as usual -->
  <% images.each_with_index do |image, index| %>
    <div class="box">
      <div class="boxInner">
        <% if image.page_url %>
          <%= link_to image_tag(image.data.url), image.page_url.html_safe, :target => "_blank" %>
        <% else %>
          <%= link_to image_tag(image.data.url), image.src_url.html_safe, :target => "_blank" %>
        <% end %>

        <div class="title">
          <%= image.title.to_s %><br />
          <div class="time-string">
            <br />
            <%= "Posted at: #{get_jst_string(image.posted_at)}" %>
          </div>
        </div>

      </div>
    </div>
  <% end %>

</div>

<!-- Render pagination nav used for infinite scrolling -->
<%= paginate images %>