<h1>Listing delivered_images</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Caption</th>
      <th>Src url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @delivered_images.each do |delivered_image| %>
      <tr>
        <td><%= delivered_image.title %></td>
        <td><%= delivered_image.caption %></td>
        <td><%= delivered_image.src_url %></td>
        <td><%= link_to 'Show', delivered_image %></td>
        <td><%= link_to 'Edit', edit_delivered_image_path(delivered_image) %></td>
        <td><%= link_to 'Destroy', delivered_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivered image', new_delivered_image_path %>
