<p id="notice"><%= notice %></p>
<%= link_to 'Back', show_favored_images_users_path %>

<p>
  <strong>Title:</strong>
  <%= @delivered_image.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @delivered_image.caption %>
</p>

<p>
  <strong>Source URL:</strong>
  <%= link_to 'source image URL', @delivered_image.src_url %>
</p>

<p>
  <strong>Size in bytes:</strong><br>
  <%= bytes_to_kilobytes(@delivered_image.data.size) %> KB<br>
  <%= bytes_to_megabytes(@delivered_image.data.size) %> MB<br>
</p>

<p>
  <strong>Is Favored:</strong>
  <%= @delivered_image.favored %>
</p>

<br>
<%= image_tag @delivered_image.data.url %>