<p id="notice"><%= notice %></p>
<%= link_to 'Back', show_favored_images_users_path %>

<p>
  <strong>Title:</strong>
  <%= @delivered_image.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @delivered_image.caption %>
</p>

<p>
  <strong>Source URL:</strong>
  <%= link_to 'source image URL', @delivered_image.src_url %>
</p>

<p>
  <strong>Page URL:</strong>
  <%= link_to 'source page URL', @delivered_image.page_url.html_safe if @delivered_image.page_url %>
</p>

<p>
  <strong>Delivered from:</strong>
  <%= show_targetable(@delivered_image) %>
</p>

<p>
  <strong>Is an illustration:</strong>
  <%= @delivered_image.is_illust %>
</p>

<p>
  <strong>Views:</strong>
  <%= @delivered_image.views %>
</p>
<p>
  <strong>Favorites:</strong>
  <%= @delivered_image.favorites %>
</p>

<p>
  <strong>Posted at:</strong>
  <%= @delivered_image.posted_at %>
</p>

<p>
  <strong>Tags:</strong>
  <%# @delivered_image.tags.each do |tag| %>
  <%# tag.name %>
  <%# end %>
</p>

<p>
  <strong>Size in bytes:</strong><br>
  <%= bytes_to_kilobytes(@delivered_image.data.size) %> KB<br>
  <%= bytes_to_megabytes(@delivered_image.data.size) %> MB<br>
</p>

<p>
  <strong>Is Favored:</strong>
  <%= @delivered_image.favored %>
</p>

<br>
<%= image_tag @delivered_image.data.url %>