<p id="notice"><%= notice %></p>
<%= link_to 'Back', delivered_images_path %>

<p>
  <strong>Title:</strong>
  <%= @delivered_image.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @delivered_image.caption %>
</p>

<p>
  <strong>Source URL:</strong>
  <%= link_to 'source image URL', @delivered_image.src_url %>
</p>

<p>
  <strong>Is Favored:</strong>
  <%= @delivered_image.favored %>
</p>

<br>
<%= image_tag @delivered_image.data.url %>