<p id="notice"><%= notice %></p>
<%= link_to 'Back', :back %>

<p>
  <strong>Title:</strong>
  <%= @delivered_image.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @delivered_image.caption %>
</p>

<p>
  <strong>Source URL:</strong>
  <%= link_to 'source image URL', @delivered_image.src_url %>
</p>

<p>
  <strong>Page URL:</strong>
  <%= link_to 'source page URL', @delivered_image.page_url.html_safe if @delivered_image.page_url %>
</p>

<p>
  <strong>Delivered from:</strong>
  <%= show_targetable(@delivered_image) + ' / ' + @delivered_image.site_name %>
</p>

<h2>Detail:</h2>
<table>
  <thead>
    <tr>
      <th align="left">Is an illustration</th>
      <td><%= @delivered_image.is_illust %></td>
    </tr>
    <tr>
      <th align="left">Views</th>
      <td><%= @delivered_image.views %></td>
    </tr>
    <tr>
      <th align="left">Favorites</th>
      <td><strong><%= @delivered_image.favorites %></strong></td>
    </tr>
    <tr>
      <th align="left">Created_at</th>
      <td><%= get_jst_string(@delivered_image.created_at) %></td>
    </tr>
    <tr>
      <th align="left">Updated_at</th>
      <td><%= get_jst_string(@delivered_image.updated_at) %></td>
    </tr>
    <tr>
      <th align="left">Posted_at</th>
      <td><%= get_jst_string(@delivered_image.posted_at) %></td>
    </tr>
    <tr>
      <th align="left">Tags</th>
      <%# @delivered_image.tags.each do |tag| %>
      <%# tag.name %>
      <%# end %>
    </tr>
    <tr>
      <th align="left">Size in bytes[KB]</th>
      <td><%= bytes_to_kilobytes(@delivered_image.data.size) %> KB</td>
    </tr>
    <tr>
      <th align="left">Size in bytes[MB]</th>
      <td><%= bytes_to_megabytes(@delivered_image.data.size) %> MB</td>
    </tr>
  </thead>

  <tbody>
    <tr>








    </tr>
  </tbody>
</table>

<p>
  <strong>Is Favored:</strong>
  <%= @delivered_image.favored %>
</p>

<br>
<%= image_tag @delivered_image.data.url %>