<h3>Welcome to Ispick debugging page!</h3>
"DEBUG" navbar will be deleted soon,<br />
and this page would be used as the alternative in production.<br />
<br />
<br />
<!-- Render Ransack search form -->
<%= search_form_for @search, url: search_debug_path, html: { class: "custom-search-form navbar-form navbar-left collapse-item", role: 'search' } do |f| %>
  <div class="input-group">
    <%= f.text_field :tags_name_cont, class: "form-control", placeholder: "Search", "data-pre" => autocomplete_tags_path %>
    <span class="input-group-btn">
    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
  </div>
<% end %>
<br />
<%= button_group class: 'btn-group-vertical' do %>
  <%= bs_button_to 'View all images', images_path, class: 'btn-default' %>
  <%= bs_button_to 'Target images', target_images_path, class: 'btn-default' %>
  <%= bs_button_to 'Ranking', '/ranking', class: 'btn-default' %>
  <%= bs_button_to 'RSS of ranking(1st image only)', '/daily_images/rss.rss', class: 'btn-default' %>
  <%= bs_button_to 'Debug design', home_debug_path, class: 'btn-default' %>
  <%= bs_button_to 'Debug illust_detection', illust_detection_debug_path, class: 'btn-default' %>
  <%= bs_button_to 'Debug crawling', crawling_debug_path, class: 'btn-default' %>
  <%= bs_button_to 'Download images', download_debug_path, class: 'btn-default' %>
  <%= bs_button_to 'Download recent images', download_recent_path, class: 'btn-default' %>
  <%= bs_button_to 'Download csv file', download_csv_path, class: 'btn-default' %>
  <%= bs_button_to 'Toggle miniprofiler', miniprofiler_debug_path, class: 'btn-default' %>
  <%= bs_button_to 'Top page', '/', class: 'btn-default' %>
  <%= bs_button_to 'Tutorial', '/tutorial', class: 'btn-default' %>
  <%= bs_button_to 'Resque', '/resque_web/overview' %>
  <%= bs_button_to 'ActiveAdmin', '/admin/login', class: 'btn-info btn-default' %>
<% end %>