<!--
  ユーザ情報の編集フォーム
  - Using gem: https://github.com/bootstrap-ruby/rails-bootstrap-forms
-->

<%= bootstrap_form_for(@user, control_col: "col-sm-10") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.text_field :name, :required => true, :autofocus => true %>

      <%= f.select :language_preferences, ['ja', 'en'], { label: "Choose a language:" }, { class: "selectpicker" } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
