<!--
  The form for editing user information
  - Using gem: https://github.com/bootstrap-ruby/rails-bootstrap-forms
-->

<%= bootstrap_form_for(@user, control_col: "col-sm-10") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, :required => true, :autofocus => true, inline: true %>
  <br />
  <%= f.text_field :display_num, label: 'Image display num per page or per fetch (Default value is 10).', :required => true, :autofocus => true, value: current_user.display_num, inline: true %>
  <br />
  <%= f.check_box :pagination, label: 'Display images with pagination', checked: current_user.pagination, inline: true %>
  <br />
  <br />
  <%# f.select :language_preferences, ['ja', 'en'], { label: "Choose a language:" }, { class: "selectpicker" } %>

  <div class="actions">
    <%= f.submit 'Update settings' %>
  </div>
<% end %>
