<%= bootstrap_form_for(@user, control_col: "col-sm-10") do |f| %>
  <%# f.error_notification %>
  <div class="row">
    <div class="col-lg-2">
      <%= f.text_field :name, :required => true, :autofocus => true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div>
  <h3>Connect Account</h3>
  <br />
  <% ['facebook', 'twitter', 'tumblr'].each do |provider| %>
    <% if current_user.authorizations.pluck(:provider).include?(provider.to_s) %>
      <%= provider.to_s.titleize %> Connected
    <% else %>
      <%= link_to "Sign in with #{provider.to_s.titleize}",
        omniauth_authorize_path('user', provider) %>
    <% end %>
  <br/>
  <% end %>
</div>