<%= render 'shared/modal_image' %>
<%= stylesheet_link_tag 'users' %>


<!-- Debug情報とボード選択dropdownを描画 -->
<p>
  <strong>Clipped images count:</strong>
  <%= @favored_images.count %>
  <br />
  <strong>Total size of clipped images in bytes:</strong>
  <%= @total_size %> MB
  <br />
  <%= link_to 'Download zip(Debug)', controller: 'users', action: 'download_favored_images' %>
  <br />
  <br />
</p>


<!-- Board選択/編集/削除を行うUIを描画 -->
<%= button_group do %>
  <%= bs_dropdown_button_to 'Select a board' do %>
    <% current_user.image_boards.each do |board| %>
      <li>
        <%= link_to board.name, { controller: 'users', action: 'boards', board: board.id }, class: 'btn-default' %>
      </li>
    <% end %>
  <% end %>
  <%= bs_button_to '<span class="glyphicon glyphicon-remove" style="vertical-align:middle"></span>Delete'.html_safe, @image_board, method: :delete, data: { confirm: 'Are you sure to delete this board? This operation cannot be undone.' }, class: 'btn btn-default' %>
<% end %>


<!-- 選択されているBoardの画像一覧を表示 -->
<div class="wrap">
  <% @favored_images.each do |image| %>
    <div class="box">
      <div class="boxInner">
        <%= link_to(image_tag(image.data.url), { controller: 'favored_images', action: 'show', id: image.id.to_s, remote: true, 'data-toggle' => "modal", 'data-target' => '#modal-image' }) %>
        <div class="titleBox">
          <%= button_group class: 'pull-right blocks' do %>
            <%= render_unclip_button(image) %>
            <%= render_show_button(image) %>
          <% end %>
        </div>
        <div class="title">
          <%= image.title.to_s %><br />
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @favored_images %>