<%= debug @debug %>
<%= javascript_include_tag 'users_home' %>
<%= javascript_include_tag 'core' %>
<%= render 'shared/modal_image' %>

<%= button_group do %>
  <%= bs_button_to '全画像/Twitter由来のみ', { controller: 'users', action: 'debug_illust_detection', toggle_site: true } %>
  <%= bs_button_to 'Favorites順にする', { controller: 'users', action: 'debug_illust_detection', sort: 'favorites' } %>
  <%= bs_button_to '書き込み度順にする', { controller: 'users', action: 'debug_illust_detection', sort: 'quality' } %>
<% end %>
<%= bs_dropdown_button_to '判定結果で絞り込む' do %>
  <li><%= link_to '全て', { controller: 'users', action: 'debug_illust_detection', illust: 'all' } %></li>
  <li><%= link_to 'イラストのみ', { controller: 'users', action: 'debug_illust_detection', illust: 'illust' } %></li>
  <li><%= link_to '実写のみ', { controller: 'users', action: 'debug_illust_detection', illust: 'photo' } %></li>
<% end %>

<p>
  <strong>Delivered images count:</strong>
  <%= current_user.delivered_images.count %>
</p>


<%= paginate @delivered_images %>
<div class="wrap">
  <% @delivered_images.each do |delivered_image| %>
    <% image = delivered_image.image %>
    <% next if delivered_image.avoided %>
    <div class="box">
      <div class="boxInner">
        <%= get_jst_string(delivered_image.created_at) + '配信' %>
        <br>
        <%= link_to 'Hide', avoid_delivered_image_path(delivered_image), method: :put %>
        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= get_illust_html image if image %>
        <%= get_quality_html image if image %>
        <br>
        <%= "Favorites: #{image.favorites.to_s}" if image %>

        <%= link_to image_tag(image.data.url(:thumb)), { controller: 'delivered_images', action: 'show', id: delivered_image.id.to_s, remote: true, 'data-toggle' => "modal", 'data-target' => '#modal-image' } %>
        <div class="titleBox"><%= image.title.to_s %></div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @delivered_images %>
