<%= stylesheet_link_tag 'users' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Preferences</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">


      <!-- Render the search form -->
      <%= search_form_for @search_tags, url: preferences_users_path, html: { method: :post },
        remote: true, class: "search-tags" do |f| %>
          <h2>Search tags to follow!</h2>
          <div class="input-group">
          <%= f.text_field :name_cont, class: "form-control",  placeholder: 'Search tags' %>

          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </span>
          </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <!-- Render popular tags or search result in the partial -->
    <div class="col-md-5 col-lg-5 wrapper-popular-tags">
      <%= render partial: 'users/popular_tags', locals: { tags_result: @tags_result, popular_tags: @popular_tags } %>
    </div>

    <div class="arrow col-md-1 col-lg-1">
      <%= image_tag asset_path('arrow_aqua_green_sm.png') %>
    </div>

    <!-- Render followed tags in the partial -->
    <div class="col-md-5 col-lg-5 wrapper-followed-tags">
      <%= render partial: 'users/followed_tags', locals: { tags: @tags, test: 'test0' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <hr>
      <!-- Render flash notices -->
      <% puts flash %>
      <% if flash.present? %>
        <div class="notice-target-sites search-tags">
          <%# render partial: "shared/flash_messages", flash: flash %>
        </div>
      <% end %>
      <%= render partial: 'users/target_sites_fields' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <hr>
      <!-- Render flash notices -->
      <% if flash.present? %>
        <div class="notice-displaying search-tags">
          <%# render partial: "shared/flash_messages", flash: flash %>
        </div>
      <% end %>
      <%= render partial: 'users/displaying_fields', locals: { user: @user } %>
    </div>
  </div>

  <!-- Insert space -->
  <div style="clear: both;">
    <br />
    <br />
    <br />
  </div>


</div>
