<%= stylesheet_link_tag 'users' %>
<%= stylesheet_link_tag 'images_detail' %>
<%= render 'shared/modal_image' %>
<%= render 'shared/modal_board' %>


<!-- Render images and the dropdown for selecting websites -->
<p>

  <!-- Render the dropdown to provide filtering and sorting functionality-->
  <%= bs_dropdown_button_to list_glyphicon do %>
    <% Image::TARGET_SITES_DISPLAY.each_with_index do |site, count| %>
      <li><%= link_to "#{site}", rss_users_path(site: Image::TARGET_SITES[count]) %></li>
    <% end %>
  <% end %>
  <%= "  #{get_debug_html(@count)}".html_safe if @count %>
</p>
  <br />

<!-- image rendering starts from here -->
<%= render partial: 'users/home_images', locals: { images: @images } %>
