<!--
  Setting page for editing user's data
  - Using gem: https://github.com/Tretti/rails-bootstrap-helpers
-->


<!-- Edit form of name/language attribute -->
<div class="container-fluid">
  <div class="col-md-5">
    <h3>Edit Your Account</h3>
    <%= render 'form' %>

<!-- Display SNS accounts that are already linked -->

    <h3>Connect Accounts</h3>
    <br />
    <% ['facebook', 'twitter', 'tumblr'].each do |provider| %>

      <% providers = current_user.authorizations.pluck(:provider) %>
      <% if providers.include?(provider.to_s) %>
        <% auth = current_user.authorizations.where(provider: provider).first %>
        <%= button_group do %>
          <%= bs_button_to "#{provider.to_s.titleize} Connected / #{auth.user_name}", class: 'btn-default disabled btn-block' %>
          <%= bs_button_to "Disconnect this account", auth, method: :delete, class: 'btn-default btn-block' %>
        <% end %>
      <% else %>
        <%= bs_button_to "Sign in with #{provider.to_s.titleize}",
          omniauth_authorize_path('user', provider), class: 'btn-default btn-block' %>
      <% end %>
    <br />
    <br />
    <% end %>
  </div>
</div>