<%= stylesheet_link_tag 'users' %>


<h2>Preferences</h2>
You can follow a tag to make an image feed related to the tag.
<br />
<%= search_form_for @search, url: show_target_words_users_path, html: { method: :post } do |f| %>
  <%# f.label :name_display_cont, 'Character name' %>
  <div class="row">
    <div class="col-lg-2">
      <%= f.text_field :titles_name_or_titles_name_english_or_name_or_name_or_name_english_or_name_display_cont, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Search', class: "btn btn-default" %>
  </div>
<% end %>
<br />

<div class="wrapper-popular-tags">
  <h3>Popular tags</h3>
  <div class="popular-tags">
    <% if @people.nil? %>
      <%# get_tags_with_images(20).each do |target_word| %>
      <% TargetWord.all.limit(50).each do |target_word| %>
        <%= bs_button_to target_word.name, { controller: 'target_words', action: 'create', id: target_word.person.id, target_word: { name: target_word.name }}, method: :post, class: 'btn btn-default' unless target_word.person.nil? %>
        <%# target_word.images_count %>
      <% end %>
    <% else %>
      <% @people.each do |person| %>
        <%= bs_button_to person.name_display, { controller: 'target_words', action: 'create', id: person.id, target_word: { name: person.name_display }}, method: :post, class: 'btn btn-default' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="arrow">></div>

<div class="wrapper-followed-tags">
  <h3>Followed tags</h3>
  <div class="followed-tags">
    <% @words.each do |target_word| %>
      <%= button_group do %>
        <%= bs_button_to target_word.name, show_delivered_target_word_path(target_word), class: 'btn-default' %>
        <%= bs_button_to 'X', delete_target_word_users_path({ id: target_word.id }), method: :delete, class: 'btn-default' %>
        <%= bs_button_to 'D', target_word, class: 'btn-default' %>
      <% end %>
    <% end %>
  </div>
</div>

<div style="clear: both;">
  <br />
  <br />
  <br />
</div>