<%= render 'shared/modal_image' %>
<%= stylesheet_link_tag 'users' %>


<!-- 統計情報とボード選択dropdownを描画 -->
<p>
  <strong>Clipped images count:</strong>
  <%= @favored_images.count %>
</p>
<p>
  <strong>Total size of clipped images in bytes:</strong>
  <%= @total_size %> MB<br />
</p>
<%= link_to 'Download zip(Debug)', controller: 'users', action: 'download_favored_images' %>
<br />
<br />
<%= button_group do %>
  <%= bs_dropdown_button_to 'Select a board' do %>
    <% current_user.image_boards.each do |board| %>
      <li>
        <%= link_to board.name, { controller: 'users', action: 'show_favored_images', board: board.id }, class: 'btn-default' %>
      </li>
    <% end %>
  <% end %>

  <button class="btn btn-default">
    <span class="glyphicon glyphicon-remove" style="vertical-align:middle"></span> Delete
  </button>
<% end %>


<!-- お気に入り画像を表示 -->
<div class="wrap">
  <% @favored_images.each do |image| %>
    <div class="box">
      <div class="boxInner">
        <%= link_to(image_tag(image.data.url), { controller: 'favored_images', action: 'show', id: image.id.to_s, remote: true, 'data-toggle' => "modal", 'data-target' => '#modal-image' }) %>
        <div class="titleBox">
          <%= button_group class: 'pull-right blocks' do %>
            <%= render_unclip_button(image) %>
            <%# render_show_button(image) %>
          <% end %>
        </div>
        <div class="title">
          <%= image.title.to_s %><br />
          <div class="image-tag">
            <%# bs_label image.target_words.first.word, :default, class: 'label label-default' %>
          </div>
          <div class="time-string">
            <%# "CA: #{get_jst_string(image.created_at)}" %><br />
            <%# "PA: #{get_jst_string(image.image.posted_at)}" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @favored_images %>