<%= javascript_include_tag 'show_favored_images' %>
<h1>Clipped Images</h1>
<br>
<p>
  <strong>Clipped images count:</strong>
  <%= @favored_images.count %>
</p>
<p>
  <strong>Total size of clipped images in bytes:</strong><br>
  <%= bytes_to_kilobytes(get_total_size(@favored_images)) %> KB<br>
  <%= bytes_to_megabytes(get_total_size(@favored_images)) %> MB<br>
</p>
<%= link_to 'Download zip(Debug)', controller: 'users', action: 'download_favored_images' %>
<br>
<%= bs_dropdown_button_to 'Board選択' do %>
  <% current_user.image_boards.each do |board| %>
  <li><%= bs_button_to board.name, { controller: 'users', action: 'show_favored_images', board: board.name } %></li>
  <% end %>
<% end %>

<div class="wrap">
  <% @favored_images.each do |image| %>
    <div class="box">
      <div class="boxInner">
        <%= link_to 'Unclip', image, method: :delete %>

        <%= link_to(image_tag(image.data.url), { controller: 'favored_images', action: 'show', id: image.id.to_s }) %>
        <div class="titleBox"><%= image.title.to_s %></div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @favored_images %>