<%= stylesheet_link_tag 'users' %>


<h3>Follow a tag</h3>
Find a tag from the database:
<br />
<%= bs_button_to 'Search a target_word', search_target_words_path, class: 'btn-default' %>
<br />
<i>You can still follow a custom tag at the "<%= link_to 'debug_crawling', debug_crawling_users_path %>" page.</i><br />
<br />
<br />

<h3>Popular tags</h3>
<div class="popular-tags">
  Tags frequently followed:<br />
  <%= button_group do %>
    <% get_popular_tags(20).each do |target_word| %>
      <%= bs_button_to target_word.word, '/', class: 'btn btn-default' %>
    <% end %>
  <% end %>
</div>


<h3>List of followed tags</h3>
<div class="tag-list">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |target_word| %>
      <tr>
        <td><%= link_to target_word.word, show_delivered_target_word_path(target_word) %></td>
        <td>
          <%= bs_button_to 'Unfollow', delete_target_word_users_path({id: target_word.id}), method: :delete, class: 'btn-default' %>
          <%= bs_button_to 'debug', target_word, class: 'btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
</div>


<%= paginate_target_images(@message, @words) %>