<h1>登録タグ一覧</h1>
カスタムキーワードを登録する：
<br>
<%= link_to 'New Target word', new_target_word_path %>
<br>
<br>
データベースからタグを検索する：
<br>
<%= link_to 'Search Target words', search_target_words_path %>
<br>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Word</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |target_word| %>
      <tr>
        <td><%= link_to target_word.word, target_word %></td>
        <td><%= link_to 'このタグへの配信画像を見る', show_delivered_target_word_path(target_word) %></td>
        <td><%# link_to 'Destroy', target_word, method: :delete %></td>
        <td><%= link_to 'Unfollow', delete_target_word_users_path({id: target_word.id}), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>

<%= paginate_target_images(@message, @words) %>