<%= javascript_include_tag 'users_home' %>
<%= javascript_include_tag 'core' %>
<%= stylesheet_link_tag 'users' %>
<%= render 'shared/modal_image' %>

<p>
  <%= get_debug_html(@delivered_images_all) if @delivered_images_all %>
  <br>
  <%= bs_dropdown_button_to 'Filters' do %>
    Filter by date
    <div class="input-group date" style="width: 200px;" align="right">
      <input type="text" class="form-control" disabled><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
    <li role="presentation" class="divider"></li>
    <li><%= link_to 'Sort by posted_at', home_users_path(sort: true) %></li>
  <% end %>
</p>

<%= paginate @delivered_images %>

<div class="wrap">
  <% @delivered_images.each_with_index do |delivered_image, index| %>
    <% image = delivered_image %>

    <div class="box">
      <div class="boxInner">
        <%= get_jst_string(delivered_image.created_at) + 'é…ä¿¡' %>
        <br>
        <%= get_jst_string(image.posted_at) + 'æŠ•ç¨¿' %>
        <%= render_image(delivered_image) %>

        <div class="titleBox">
          <div class="id"><%= delivered_image.id %></div>

          <%= button_group class: 'pull-right blocks' do %>
            <%= render_clip_button(delivered_image) %>
            <%# render_hide_button(delivered_image) %>
            <%= render_show_button(delivered_image) %>
          <% end %>
          <br />
        </div>
        <div class="title">
          <%= image.title.to_s %><br />
        </div>

      </div>
    </div>
  <% end %>
</div>

<%= paginate @delivered_images %>
