<%# javascript_include_tag  %>

<h1>TODAY's Delivered Images</h1>
<%= link_to('登録イラスト一覧', { controller: 'users', action: 'show_target_images' }) %>
<%= link_to('クリップイラスト一覧', { controller: 'users', action: 'show_favored_images' }) %>

<div class="wrap">
  <% @delivered_images.each do |image| %>
    <div class="box">
      <div class="boxInner">

        <div class="favored">
          <div class="id"><%= image.id %></div>
          <% if image.favored %>
            <%# link_to get_clip_string(image), favor_delivered_image_path(image), method: :put %>
            <div class="clipped"> Unclip </div>
          <% else %>
            <%# link_to get_clip_string(image), favor_delivered_image_path(image), method: :put%>
            <div class="not_clipped"> Clip </div>
          <% end %>
        </div>

        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to(image_tag(image.data.url), { controller: 'delivered_images', action: 'show', id: image.id.to_s }) %>
        <div class="titleBox"><%= image.title.to_s %></div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @delivered_images %>