<%= javascript_include_tag 'users_home' %>
<%= javascript_include_tag 'core' %>
<%= render 'shared/modal_image' %>
<%# render 'shared/modal_board' %>

<p>
  「好みの設定」=>「登録ワード一覧」からタグを登録すると１分弱で抽出画像がホーム画面に表示されます。<br>
  <%= "<strong>Found #{@delivered_images_all.count} delivered_images.</strong".html_safe if @delivered_images_all %>
  <br>
  <br>
  <br>
  配信日で絞り込む：
  <div class="input-group date" style="width: 200px;" align="right">
    <input type="text" class="form-control" disabled><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>
</p>


<%= paginate @delivered_images %>

<div class="wrap">

  <% @delivered_images.each_with_index do |delivered_image, index| %>
    <% image = delivered_image.image %>
    <% next if delivered_image.avoided %>


    <div class="box">
      <div class="boxInner">
        <%= get_jst_string(delivered_image.created_at) + '配信' %>
        <br>
        <%= get_jst_string(image.posted_at) + '投稿' %>
        <br>
        <div class="favored">
          <div class="id"><%= delivered_image.id %></div>
          <%= bs_button_to 'Clip', { controller: 'image_boards', action: 'boards', remote: true, image: delivered_image.id, id: "popover-board#{index}", class: 'popover-board btn-default' }, 'data-toggle' => "popover", 'data-placement'=>'bottom', 'data-container'=> 'body', id: "popover-board#{index}" %>
          <%# button_tag 'Clip', 'data-toggle' => 'popover', 'data-container'=> 'body', 'data-content' => "#{render partial: 'shared/popover_board', locals: { image: delivered_image, image_board: ImageBoard.new }}", 'data-placement'=>'bottom', class: 'btn btn-default popover-board' %>
          <%# button_tag 'Clip', 'data-toggle' => 'popover', 'data-container'=> 'body', 'data-placement'=>'bottom', 'data-content' => 'start', class: 'btn btn-default popover-board' %>
        </div>
        <%= bs_button_to 'Hide', avoid_delivered_image_path(delivered_image), method: :put, class: 'btn-default' %>

        <%= link_to image_tag(image.data.url(:thumb)), { controller: 'delivered_images', action: 'show', id: delivered_image.id.to_s, remote: true, 'data-toggle' => "modal", 'data-target' => '#modal-image' } %>

        <div class="titleBox"><%= image.title.to_s %></div>
      </div>
    </div>


  <% end %>
</div>

<%= paginate @delivered_images %>
