<%= javascript_include_tag 'users_home' %>

<h1>TODAY's Delivered Images</h1>
<%= link_to('登録イラスト一覧', { controller: 'users', action: 'show_target_images' }) %>
<%= link_to('登録ワード一覧', { controller: 'users', action: 'show_target_words' }) %>
<%= link_to('クリップイラスト一覧', { controller: 'users', action: 'show_favored_images' }) %>
<br>
<%= link_to('イラストのみ表示する', { controller: 'users', action: 'show_illusts' }) %>
<br>
<br>
<p>
  <strong>Delivered images count:</strong>
  <%= current_user.delivered_images.count %>
</p>
<p>
  <strong>Total size of delivered images in bytes:</strong><br>
  <%= bytes_to_kilobytes(get_total_size(current_user.delivered_images)) %> KB<br>
  <%= bytes_to_megabytes(get_total_size(current_user.delivered_images)) %> MB<br>
</p>
<br>
<%= paginate @delivered_images %>
<div class="wrap">
  <% @delivered_images.each do |image| %>
    <% next if image.avoided %>
    <div class="box">
      <div class="boxInner">
        <%= image.created_at %>
        <div class="favored">
          <div class="id"><%= image.id %></div>
          <%= raw get_clip_string_styled(image) %>
        </div>

        <%= link_to 'Hide', avoid_delivered_image_path(image), method: :put %>
        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to(image_tag(image.data.url), { controller: 'delivered_images', action: 'show', id: image.id.to_s }) %>
        <div class="titleBox"><%= image.title.to_s %></div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @delivered_images %>
