<%= javascript_include_tag 'users_home' %>

<p>
  <%= "<strong>Found #{@delivered_images_all.count} delivered_images.</strong".html_safe %>
  <br>
  <br><br>
  配信日で絞り込む：
  <div class="input-group date" style="width: 200px;" align="right">
    <%# text_field_tag 'date', '', 'data-behaviour'=>'datepicker' %>
    <input type="text" class="form-control" disabled><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  </div>
</p>




<%= paginate @delivered_images %>

<div class="wrap">

  <% @delivered_images.each do |delivered_image| %>
    <% image = delivered_image.image %>
    <% next if delivered_image.avoided %>

    <div class="box">
      <div class="boxInner">
        <%= get_jst_string(delivered_image.created_at) + '配信' %>
        <br>
        <%= get_jst_string(image.posted_at) + '投稿' %>
        <br>
        <div class="favored">
          <div class="id"><%= delivered_image.id %></div>
          <%= raw get_clip_string_styled(delivered_image) %>
        </div>

        <%= link_to 'Hide', avoid_delivered_image_path(delivered_image), method: :put %>

        <%= link_to(image_tag(image.data.url(:thumb)), { controller: 'delivered_images', action: 'show', id: delivered_image.id.to_s }) %>
        <div class="titleBox"><%= image.title.to_s %></div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @delivered_images %>
