<% @pageId = "devise" %>

<%= render "shared/welcome_header" %>


<div id="auth-container">
  <div class="outer-container">
    <div class="description">
      <h2>Reset password</h2>
      <p>Give us the email address you use to log in to Ispick, we'll send you instructions for resetting your password.</p>
    </div>
    <div id="auth-form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email'  %>
        <%= f.submit 'Reset password' %>
      <% end %>
      <ul id="other-paths">
        <li><%= link_to "Already have an account?", "/signin_with_password" %></li>
        <li><%= link_to "Create an account", "/signup_with_password" %></li>
        <li><%= link_to "Home", "/" %></li>
      </ul>
    </div>
  </div>
</div>

<%# render "devise/shared/links" %>
