<%= javascript_include_tag 'modal_board' %>
<%= stylesheet_link_tag 'users' %>
<%# stylesheet_link_tag 'core' %>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body modal-board">
      <div class="id"><%= image.id %></div>
      <%= bootstrap_form_for image_board, remote: true, class: 'new_board' do |f| %>
        <%= f.text_field :name, layout: :default, class: 'new_board_input' %>
        <%= f.submit 'New board', class: "btn btn-primary" %>
      <% end %>
      <br />

      <% current_user.image_boards.each do |board| %>
        <!--<li class="clip_button btn btn-default btn-group-justified" >-->
        <%= button_group do %>
          <%= bs_button_to board.name.to_s, { controller: 'delivered_images', action: 'favor', id: image.id, board: board.name, remote: true }, method: :put, class: 'btn btn-default user_boards' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>