<!--
  New boardを作るフォーム
  - variables needed: image, image_board, html
  - Using gem: https://github.com/bootstrap-ruby/rails-bootstrap-forms
-->

<div style="text-align: right; align:right;">
  <!-- Putting this block directly inside the modal-content div seem to make the button unclickable -->
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<br />
<div class="id"><%= image.id %></div>

<%= bootstrap_form_for image_board, remote: true, url: { controller: 'image_boards', action: 'create' , image: image.id, html_id: html }, class: 'new_board' do |f| %>
  <%= f.text_field :name, layout: :default, placeholder: 'Enter a board name', class: 'new_board_input' %>
  <%= f.submit 'New board', class: "btn btn-primary" %>
<% end %>
<br />

<%= bootstrap_form_tag remote: true, url: { controller: 'images', action: 'favor', id: image.id, remote: true, html_id: html }, method: :put, class: 'new_board' do |f| %>
  <% boards = current_user.image_boards.map { |board| board.name } %>

  <%= f.select :board, boards, { label: "Choose a board:" }, { class: "selectpicker" } %>
  <%= f.submit 'Clip this', class: "btn btn-primary" %>
<% end %>
