<%= render 'shared/modal_avatar' %>

<nav class="navbar navbar-default" role="navigation">
  <%= navbar_header brand: image_tag(asset_path('test_logo.png')), brand_link: home_users_path, class: 'logo' %>
  <%= navbar_collapse do %>
    <%= navbar_group class: 'User', id: 'menu' do %>
      <%= navbar_dropdown 'User' do %>
        <li>
          <%= link_to 'Change avatar image', new_avatar_users_path, { :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: 'dropdown-user' } %>
        </li>
        <%= navbar_item 'Settings', settings_users_path %>
        <%= navbar_dropdown_divider %>
        <%= navbar_item 'Log out', destroy_user_session_path %>
      <% end %>

      <%= navbar_item 'Home', home_users_path %>
      <%= navbar_item 'Boards', boards_users_path %>
      <%= navbar_item 'Preferences', preferences_users_path %>


      <!-- DEBUG paths. Will be removed. -->
      <%= navbar_dropdown 'DEBUG' do %>
        <%= navbar_item 'DEBUG TOP', index_debug_path %>
        <%= navbar_item 'View all images', images_path %>
        <%= navbar_item 'Debug design', home_debug_path %>
        <%= navbar_item 'Debug illust detection', illust_detection_debug_path %>
        <%= navbar_item 'Debug crawling', crawling_debug_path %>
        <%= navbar_item 'Tutorial', '/tutorial' %>
        <%= navbar_item 'Top page', '/' %>
        <%= navbar_item 'Resque', '/resque_web/overview' %>
        <%= navbar_item 'Toggle miniprofiler', miniprofiler_debug_path %>
      <% end %>

    <% end %>

    <%= image_tag(current_user.avatar.url(:thumb), align: 'right', class: 'current-avatar') %>

  <% end %>
</nav>