<br />
<div class="image-title">
  <%= image.title %>
</div>

<hr>

<div class="image-detail">
  <%= image.caption.html_safe if image.caption %><br />
  From: <%= link_to "#{image.page_url}", image.page_url.html_safe if image.page_url %>
</div>

<div class="image-share">
  <%= "CA: #{get_jst_string(image.created_at)}".html_safe %><br />
  <%= "PA: #{get_jst_string(image.posted_at)}".html_safe %><br />
  <%= image_tag(asset_path('icons/facebook_32.png'))%>
  <%= image_tag(asset_path('icons/twitter_32.png')) %>
  <%= image_tag(asset_path('icons/pinterest_32.png')) %>
  <%= image_tag(asset_path('icons/tumblr_32.png')) %>
</div>
