<!-- image rendering starts from here -->
<div class="top_background">
  <%# render partial: 'shared/render_images', locals: { images: @images } %>
</div>

<div class="container">
  <br />
  <br />
  <div class="row">
    <div class="col-md-5 col-centered top-wrap">
      <%= render partial: 'shared/top_description' %>
      <br />

      <div class="wrapper-oauth">
        <div class="btn-group-vertical btn-group-oauth">
          <%= bs_button_to 'Continue with Facebook', user_omniauth_authorize_path(:facebook), class: "btn btn-default btn-block" %><br />
          <%= bs_button_to 'Continue with Twitter', user_omniauth_authorize_path(:twitter), class: "btn btn-default btn-block" %><br />
          <%= bs_button_to 'Continue with Tumblr',  user_omniauth_authorize_path(:tumblr), class: "btn btn-default btn-block" %><br />
          <%= bs_button_to 'Continue with Email', '/sign_up', class: "btn btn-default btn-block" %><br>
        </div>
        <%= render partial: 'shared/warning' %>
        <div align="center">
          <%= bs_button_to 'Log in', '/signin_with_password', class: 'btn-mini btn-default' %>
        </div>
      </div>

  </div>
</div>