<%= stylesheet_link_tag 'users' %>
<%= stylesheet_link_tag 'images_detail' %>
<%= render 'shared/modal_image' %>

<!-- Start of StatCounter Code for Default Guide -->
<%= javascript_include_tag 'stat_counter' if Rails.env.production? %>
<noscript><div class="statcounter"><a title="shopify visitor
statistics" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/10089559/0/da2e4b88/1/"
alt="shopify visitor statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

<!-- A version of embedding description and login form as boxes. -->
<!-- Render description box and login form box only at the first time -->
<div class="wrapper">
  <% if @first %>
    <div class="block has-gutters">
      <div class="height">260</div>
      <div class="top-description">
        <br />
        <%= render partial: 'shared/top_description' %>
        <br />
      </div>
    </div>
    <div class="block has-gutters">
      <div class="height">250</div>
      <div class="wrapper-oauth">
        <%= render partial: 'shared/top/wrapper_oauth' %>
      </div>
    </div>
  <% end %>

  <%= render partial: 'shared/render_images', locals: { images: @images } %>
</div>

<!-- Render pagination nav used for infinite scrolling -->
<%= paginate @images %>
