<%= stylesheet_link_tag 'users' %>
<%= stylesheet_link_tag 'images_detail' %>
<%= render 'shared/modal_image' %>

<!-- A version of embedding description and login form as boxes. -->
<!-- Render description box and login form box only at the first time -->
<div class="wrapper">
  <% if @first %>
    <div class="block has-gutters">
      <div class="height">260</div>
      <div class="top-description">
        <%= render partial: 'shared/top_description' %>
      </div>
    </div>
    <div class="block has-gutters">
      <div class="height">250</div>
      <div class="wrapper-oauth">
        <%= render partial: 'shared/top/wrapper_sign_up' %>
      </div>
    </div>
  <% end %>

  <%= render partial: 'shared/render_images', locals: { images: @images } %>
</div>

<!-- Render pagination nav used for infinite scrolling -->
<%= paginate @images %>
