<% @pageId = "devise" %>

<%= render "shared/welcome_header" %>

<div id="auth-container">
  <div class="outer-container">
    <div id="auth-form">
      <p class="btn-facebook">
        <%= link_to(user_omniauth_authorize_path(:facebook)) do %>
          <i class="fa fa-facebook"></i>Create an account with Facebook
        <% end %>
      </p>
      <p class="btn-twitter">
        <%= link_to(user_omniauth_authorize_path(:twitter)) do %>
          <i class="fa fa-twitter"></i>Create an account with Twitter
        <% end %>
      </p>
      <p class="btn-pinterest">
        <%= link_to("#") do %>
          <i class="fa fa-pinterest"></i>Create an account with Pinterest
        <% end %>
      </p>
      <p class="btn-email">
        <%= link_to("/sign_up") do %>
          <i class="fa fa-envelope"></i>Create an account with Email
        <% end %>
      </p>
      <ul id="other-paths">
        <li><%= link_to "Log in", "/signin_with_password" %></li>
      </ul>
    </div>
  </div>
</div>
