<h1>Listing preferred images</h1>
<p>
  <strong>Target RGB:</strong>
  <% if @message == '' %>
    <%= @target_colors[:hair] %>
  <% end %>
</p>
<p>
  <strong>Target HSV:</strong>
  <% if @message == '' %>
    <%= @target_colors[:hair] %>
  <% end %>
</p>

<!--
<ul class="boxline">
<% @preferred.each do |image| %>
  <li>
    <%= image_tag image[:image].data.url %>
    <div class="titleBox"><%= image[:image].title.to_s %></div>
    <%= image[:hsv] %>
  </li>
<% end %>
</ul>
-->
<div class="wrap">
  <% @preferred.each do |image| %>
    <div class="box">
      <div class="boxInner">
        <%= image[:hsv] %>
        <%= link_to(image_tag(image[:image].data.url), { controller: 'images', action: 'show', id: image[:image].id.to_s }) %>
        <div class="titleBox"><%= image[:image].title.to_s %></div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate_target_images(@message, @preferred) %>
