<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_target_image_path(@target_image) %> |
<%= link_to 'Back', show_target_images_users_path %>
<br>

<p>
  <strong>Features:</strong>
  <%= @target_image.feature.face if not @target_image.feature.nil? %>
  <br>
  <%= @target_image.feature.categ_imagenet if not @target_image.feature.nil? %>
</p>
<p>
  <strong>Size in bytes:</strong><br>
  <%= bytes_to_kilobytes(@target_image.data.size) %> KB<br>
  <%= bytes_to_megabytes(@target_image.data.size) %> MB<br>
</p>
<br>
<%= image_tag @target_image.data.url %>