<h1>Search target_word</h1>

<%= search_form_for @search, url: search_target_words_path, html: { method: :post } do |f| %>
  <%= f.label :name_display_cont, 'キャラクタ名' %>
  <div class="row">
    <div class="col-lg-2">
      <%= f.text_field :name_display_cont, class: "form-control" %>

    </div>
  </div>
  <div class="actions">
    <%= f.submit '検索する', class: "btn btn-default" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Name_en</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name_display, { action: 'create', id: person.id, target_word: { word: person.name_display }}, method: :post %></td>
        <td><%= person.name_english %></td>
        <td><%= person.titles.first.name if not person.titles.empty? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @people %>

<%= link_to 'Back', show_target_words_users_path %>
