<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>Face feature:</strong>
  <%= @face_feature %>
</p>

<p>
  <strong>Source URL:</strong>
  <%= link_to 'source image URL', @image.src_url %>
</p>
<p>

<p>
  <strong>Tags:</strong>
  <% @image.tags.each do |tag| %>
  <%= tag.name %>
  <% end %>
</p>
<p>
  <strong>Size in bytes:</strong><br>
  <%= bytes_to_kilobytes(@image.data.size) %> KB<br>
  <%= bytes_to_megabytes(@image.data.size) %> MB<br>
</p>
<%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %>

<br>
<%= image_tag @image.data.url %>
<br>
<%= link_to 'Back', images_path %>
