<%= javascript_include_tag 'users_home' %>
<%= javascript_include_tag 'core' %>
<%= stylesheet_link_tag 'users' %>
<%= stylesheet_link_tag 'images_detail' %>
<%= render 'shared/modal_board' %>

<!-- Render two partial templates -->
<div class="detail-wrap">
  <%= render partial: 'shared/render_image', locals: { image: @image } %>
  <%= render partial: 'shared/show_image', locals: { image: @image } %>
</div>