<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>Face feature:</strong>
  <%= @face_feature %>
</p>

<br>
<%= image_tag @image.data.url %>
<br>
<%= link_to 'Back', images_path %>
