<!DOCTYPE html>
<html>
<head>
  <title>Ispick</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'icepick.png' %>
  <%= csrf_meta_tags %>
  <!-- tells mobile browsers to not scale the page by default -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="no-touch">

<%= render 'shared/header' if signed_in? %>

<%= yield %>

<%= render 'shared/footer' unless @disable_fotter %>

</body>
</html>
