<!DOCTYPE html>
<html>
<head>
  <title>Ispick</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'icepick.png' %>
  <%= csrf_meta_tags %>
  <!-- tells mobile browsers to not scale the page by default -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google analytics script -->
  <%= analytics_init if Rails.env.production? %>

  <!-- Start of StatCounter Code for Default Guide -->
  <%= javascript_include_tag 'stat_counter' if Rails.env.production? %>
  <noscript><div class="statcounter"><a title="shopify visitor
  statistics" href="http://statcounter.com/shopify/"
  target="_blank"><img class="statcounter"
  src="http://c.statcounter.com/10089559/0/da2e4b88/1/"
  alt="shopify visitor statistics"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->

</head>
<body class="no-touch">

<div id="wrapper">
  <% if signed_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/header_top' %>
  <% end %>

  <%= yield %>
</div>

<%= render 'shared/footer' unless @disable_fotter %>

</body>
</html>
